name: Deploy

on:
  workflow_dispatch:
  push:
    branches:
      - actions
      - main

jobs:
  build:
    runs-on: self-hosted
    timeout-minutes: 5
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          clean: false
      
      - name: Set up JDK 21 
        uses: actions/setup-java@v5
        with:
          java-version: '21'
          distribution: 'temurin'
          check-latest: false

      - name: Maven Build
        run: ./mvnw clean package
        working-directory: ./core-service 

      - name: Build Docker Image
        run: ./mvnw spring-boot:build-image -Dspring-boot.build-image.imageName=core-service:latest
        working-directory: ./core-service

      - name: Check if container exists and remove it
        run: |
          CONTAINER_NAME="prd-coreservice"
          if [ "$(docker ps -aq -f name=$CONTAINER_NAME)" ]; then
            echo "Container '$CONTAINER_NAME' found. Removing..."
            docker rm -f $CONTAINER_NAME || true
          else
            echo "Container '$CONTAINER_NAME' not found. No action needed."
          fi
 
      - name: Run Service
        run: docker run -d --name prd-coreservice --network container-network --restart unless-stopped -p 3001:8081 -e SPRING_PROFILES_ACTIVE=prod core-service:latest 
        working-directory: ./core-service  
